@CHARSET "UTF-8";

body, html {
background-image: url(#{ resource [ 'images:AquaBlueBG.jpg' ]});
background-repeat:repeat-y;


/* Center and scale the image nicely */
background-position:center;
background-size:cover;
/* Full height */
height:100%;

}


body{
	padding: 2em;
	color: #3a1e8f;
	font-family: sans-serif;
}

#menu{
	position: relative;
	display: block; 	
}

table{
	background: #c9f5ff;
	color: black;
	padding: 1em;
	border-color: black;
	border:solid;
}

th{
	font-weight: bold;
	padding:0.5em;
	background :#60bfd8;
}

.ui-menu{
	background-color: #e7480e;
	vertical-align: middle;
	border-color: black;
	border-style: solid;
	border-radius: 25px;

}

.ui-menuitem-text, button{
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 0.5em;
	background: #9a030380;
	border-radius: 10px;
	
}

.ui-menuitem-text:hover, button:hover{
	background: #60bfd8;
	font-stretch: wider;
}

.menuitem{
	color: black;
	padding: 1em;
	border-color: black;
	border:solid;
}

.super {
	position: absolute;
}

.container-fluid{
	top: 5em;
	position: relative;
}

.header {
	background-color: grey;
}

.bodyForm {
	background-color: white;
}

.transparent {
	background: none;
	border-style: none;
}

/* Add a background color and some padding around the form */
.container1 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.verticalcenter {
	postition: absolute;
	top: 50%;
}

.clickAll {
	display: block;
}

.userText {
	font-size: 30px;
	color: black;
}

.userImg {
	height: 200px;
}

.userImg:hover {
	height: 250px;
	transition: height .9s;
}

.big-orange {
	font-size: 50px;
	color: #e95d0b;
}

div.filler {
	height: 10em;
}

.datatable {
	margin:1em;
	
	}
	
.displayinfo{
	color: #ffffff;
	padding: 1em;
	font-size: 15px;
	background-color: #6464ff;
}