@CHARSET "UTF-8";

body, html {
background-image: url(#{ resource [ 'images:AquaBlueBG.jpg' ]});
background-repeat:repeat-y;


/* Center and scale the image nicely */
background-position:center;
background-size:cover;
/* Full height */
height:100%;

}


body{
	padding: 2em;
	color: #3a1e8f;
	font-family: sans-serif;
	
}

.align-center{
	left: 30%;
	position: relative;
}

p{
	font-size: 15px;
}

h3 b{
	font-size: 25px;
	color: #e95d0b;
}

.inline-block{
	display: inline-block;
}

#menu{
	position: relative;
	display: block; 	
}

.selectOneMenu{
	font-size: 25px;
	padding: 5px;
}

.green{
	color:green;
}

.red{
	color: red;
}

.blue{
	color: blue;
}


table{
	background: #c9f5ff;
	color: black;
	padding: 1em;
	border-color: black;
	border:solid;
	font-size:15px;
}




th{
	font-weight: bold;
	padding:0.5em;
	background :#60bfd8;
}

tr:hover{
	background: #c9f5ff;
}



.ui-menu{
	background-color: #e7480e;
	vertical-align: middle;
	border-color: black;
	border-style: solid;
	border-radius: 25px;

}

.ui-menuitem-text, .ui-button-text{
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 0.5em;
	background: #9a030380;
	border-radius: 10px;
	
}

.mybutton .ui-button-text{
	background: #e42813;
}

.on.selectOnebutton .ui-button-text {
	background: green;
}

.ui-menuitem-text:hover, button:hover{
	background: #60bfd8;
	zoom: 1.1;
}

.menuitem{
	color: black;
	padding: 1em;
	border-color: black;
	border:solid;
}

.super {
	position: absolute;
}


.a150px {
	width: 150px;
}

.inlineblock{
	display: inline-block;
	
}

.inline{
	display: inline;
	padding-left: 30px;
}

.container-fluid{
	top: 5em;
	position: relative;
}

.header {
	background-color: grey;
}

.bodyForm {
	background-color: white;
}

.transparent {
	background: none;
	border-style: none;
}

/* Add a background color and some padding around the form */
.container1 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.verticalcenter {
	postition: absolute;
	top: 50%;
}

.clickAll {
	display: block;
}

.userText {
	font-size: 30px;
	color: #454545;
}

.userImg {
	height: 200px;
}

.userImg:hover {
	height: 250px;
	transition: height .9s;
}

.big-orange {
	font-size: 40px;
	color: #e95d0b;
}

div.filler {
	height: 10em;
}

.datatable {
	margin:1em;
	
	}
	
.displayinfo{
	color: #000000;
	padding: 1em;
	font-size: 15px;
	background-color: #fddd71;
	border-color: black;
	border-style: solid;
	border-radius: 25px;
}


.inputText{
	font-size: 15px;
	
}